.acdc {
    font-family: "Spectral SC", serif;
  font-weight: 100;
  text-align: center;
  font-size: 5vmax;
}
.capsulecorp {
    font-family: "Spectral SC", serif;
  text-align: center;
  font-size: 1.75vmax;
}
.zala {
  margin-top: 5%;
  
}