
.carousel-fade .carousel-item {

  /* transition: opacity ease-in-out 5s; */
  /* transition: opacity 3000ms ease-out; */
}




carousel-item > img {
  width: 100%;
  object-fit: contain;
    /* ---- */
  height: auto;
  margin-bottom: 33%;
  padding-bottom:20%;
}




.carousel .carousel-item {
  /* animation-delay: 2s; */
  /* transition-property: opacity; */
  /* transform: 2s ease; */
  /* opacity: 1s ease-out; */
  /* transition: ease-in-out; */
  /* transition: opacity ease-in 5s; */
  /* transition: ease-out 5s; */
  /* transition-duration: opacity 6s; */

  /* transition-property: opacity; */
  /* transition-duration: opacity 5s, 5s; */
  /* transition-property: opacity; */
  /* transition-timing-function: 3s; */
  /* opacity: 1; */
	transition-duration: 4s;
  transition-delay:  1s;
	/* transition-property:inherit; */
  
}


/* ---------- */

/* .carousel .slide-image.active {
  opacity: 1;
  transition: opacity 3s ease-out;
} */

/* .carousel .slide-image {
  opacity: 0;
  display: block;
  left: 0;
  transition: opacity 3s ease-out;
} */


/* ------- */
/* 
.carousel .slide-image.active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.carousel .slide-image {
  opacity: 0;
  display: block;
  left: 0;
  transition: opacity 1s ease-out;
} */



/* --------- */
/* .carousel-caption h3:first-child {
  animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
  animation-delay: 2s;
}
.carousel-caption button {
  animation-delay: 3s;
} */
/* ---------- */


/* -------------- */




.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.projector {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  top: 150px;
  right: -15px;
  width: 1440px;
  position: static;
  height: 33vmax !important;
  margin-bottom: 29%;
  padding-bottom:20%;
  object-fit: cover;
}

.carousel {
  object-fit: contain;
  margin-bottom: 25%;
  
}



/* carousel fade code here */
/* ------- */

/* .carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
} */

/* -------- */



.image-wrap{
   width:100%;
   position:relative;
   overflow:hidden;
   max-height:20%;/* set arbitrary height*/
 }
 #carousel .image-wrap img.facilitiesImage {
   width: auto;
   height:240px;
   margin-left: auto;
   margin-right: auto;
 }
 @supports (object-fit: cover){
 #carousel .image-wrap img.facilitiesImage {
   width: 60%;
   height:240px;
   margin-left: auto;
   margin-right: auto;
   object-fit:cover;
 }
 }

 .carousel-control{
   
   visibility: hidden;
}

.carousel-indicators li { visibility: hidden; }

@media (max-width: 40em) {.carousel-control-next-icon, .carousel-control-prev-icon{
   visibility:hidden;
 }}