carousel-item > img {
  width: 100%;
  object-fit: contain;
  height: auto;
  margin-bottom: 33%;
  padding-bottom: 20%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.projector {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  top: 150px;
  right: -15px;
  width: 1440px;
  position: static;
  height: 33vmax !important;
  margin-bottom: 29%;
  padding-bottom: 20%;
  object-fit: cover;
}

.carousel {
  object-fit: contain;
  margin-bottom: 25%;
}

.image-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 20%; /* set arbitrary height*/
}
#carousel .image-wrap img.facilitiesImage {
  width: auto;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
}
@supports (object-fit: cover) {
  #carousel .image-wrap img.facilitiesImage {
    width: 60%;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }
}

.carousel-control {
  visibility: hidden;
}

.carousel-indicators li {
  visibility: hidden;
}

@media (max-width: 40em) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    visibility: hidden;
  }
}
