.container {
  vertical-align: center;

  display: flex;
  flex-direction: column;
}

.navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.navbar li {
  display: inline-block;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}
