@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@500&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

.Container {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("/src/images/sunset.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Spectral SC", serif;
  color: white;
}

a,
a:hover,
a:focus,
a:active,
a.pointer,
a:hover {
  cursor: pointer;
  text-decoration: inherit;
  color: inherit;
}

.jumbotron {
  background-color: rgba(124, 40, 177, 0);
}
