

.titulo {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100% ;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/citrus_sig_last.png);
    
    margin-top: 2%;


    /* background: none; */

}

.someone{
    background-color: transparent;
}

.links{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background: none;
  background-color: transparent;
  

}

.pikachu .bg{
    opacity: .90;
}
.h2 {
    vertical-align: center;
}
