.titulo {
  font-family: "Spectral SC", serif;
  font-weight: 800;
  margin-top: 3%;
  text-align: center;
  font-size: 6.1vmax;
}




.video {
  margin-top: 3%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: none;
  background-color: transparent;
}

.h2 {
  vertical-align: center;
}
